* {box-sizing: border-box}
.register {
    padding: 16px;
    background-color: white;
  }
  h1{
    color: black;
    text-align: center;
}

.info { 
    margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 30%; /* Could be more or less, depending on screen size */
  }
hr {
  border: 1px ;
  margin-bottom: 15px;
}
.signup {
    width: 100%;
    padding: 15px;
    margin: 5px auto 10px auto;
    display: inline-block;
    border: none;
    background:lightgreen;
    
 }

 input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px auto 10px auto;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }