/* body{
    background-color: powderblue;
} */


h1{
    color: red;
    font-family: verdana; 
    font-size: 300%;
}
p{
    color: blue;
}
div{
    background-image: url('download.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }
  